[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

!*.meta

.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db
